In [140]:
from preprocess import pp_entries as preprocess
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Lasso
from sklearn.model_selection import cross_validate
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from joblib import load, dump
import numpy as np
import imblearn

In [50]:
export_example = pd.read_pickle('coder_format_example.pkl')
export_example

                                                   all      scores
0    do a Bible study finish Bible study and feel f...  (3.0, 4.0)
1    I want to clean my house I will get everything...  (5.0, 4.0)
2    Eat healthy and exercise I burn more calories ...  (4.0, 4.0)
3    Spend quality time with my cat My cat appears ...  (4.0, 3.0)
4          Go out to eat Care Free  Happy, no problems  (1.0, 2.0)
..                                                 ...         ...
123  finish reading the book im currently reading p...  (3.0, 4.0)
124  drink a gallon of water hydrated and energized...  (2.0, 3.0)
125  repeat approach fuse comfort souvenir start Al...  (3.0, 2.0)
126                                         good no hg  (1.0, 1.0)
127  Every business is being asked to fulfill its p...  (5.0, 5.0)

[128 rows x 2 columns]

In [51]:
data = preprocess(export_example['all'])
data

,VB,DT,JJ,NN,RBR,CC,VBN,MD,VBP,VBG,...,POS,WP,WDT,RBS,``,'',PDT,(,),EX
0,6.0,3.0,5.0,6.0,1.0,2.0,2.0,2.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3.0,1.0,1.0,8.0,0.0,0.0,0.0,2.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,4.0,4.0,0.0,2.0,1.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,5.0,6.0,1.0,2.0,1.0,0.0,2.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,4.0,4.0,3.0,8.0,0.0,2.0,0.0,0.0,3.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
124,1.0,2.0,0.0,5.0,0.0,1.0,2.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
125,1.0,1.0,1.0,4.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
126,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
127,6.0,6.0,6.0,9.0,0.0,0.0,9.0,3.0,6.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
data['direct'], data['specific'] = zip(*export_example['scores'])

In [53]:
data

,VB,DT,JJ,NN,RBR,CC,VBN,MD,VBP,VBG,...,WDT,RBS,``,'',PDT,(,),EX,direct,specific
0,6.0,3.0,5.0,6.0,1.0,2.0,2.0,2.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,4.0
1,3.0,1.0,1.0,8.0,0.0,0.0,0.0,2.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,4.0
2,0.0,0.0,4.0,4.0,0.0,2.0,1.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0
3,1.0,0.0,5.0,6.0,1.0,2.0,1.0,0.0,2.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,3.0
4,2.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,4.0,4.0,3.0,8.0,0.0,2.0,0.0,0.0,3.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,4.0
124,1.0,2.0,0.0,5.0,0.0,1.0,2.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0
125,1.0,1.0,1.0,4.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,2.0
126,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
127,6.0,6.0,6.0,9.0,0.0,0.0,9.0,3.0,6.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0

In [61]:
x_train = data.iloc[:, :-2]
y_train = data['specific']

model = LogisticRegression(max_iter=1000, class_weight='balanced').fit(x_train,y_train)
# model = Lasso().fit(x_train,y_train)
print(cross_validate(model, x_train, y_train, return_train_score=True, cv=3))

{'fit_time': array([0.08923817, 0.10243177, 0.106107  ]), 'score_time': array([0.00263   , 0.00214005, 0.00281692]), 'test_score': array([0.58139535, 0.55813953, 0.45238095]), 'train_score': array([0.90588235, 0.8       , 0.87209302])}

In [63]:
export_example = pd.read_pickle('all_values_example.pkl')
export_example

                                                   all      scores
0    do a Bible study finish Bible study and feel f...  (3.0, 4.0)
1    I want to clean my house I will get everything...  (5.0, 4.0)
2    Eat healthy and exercise I burn more calories ...  (4.0, 4.0)
3    Spend quality time with my cat My cat appears ...  (4.0, 3.0)
4          Go out to eat Care Free  Happy, no problems  (1.0, 2.0)
..                                                 ...         ...
251  Getting a new brand car A lot ammount of money...  (2.0, 2.0)
252  Getting a new car A lot ammount of money That'...  (2.0, 2.0)
253          visit honest wish this is very important   (1.0, 1.0)
254  I wish to be debt free I will be so relieved I...  (4.0, 3.0)
255  I would like the pain in my jaw to stop I can ...  (4.0, 4.0)

[256 rows x 2 columns]

In [68]:
data = preprocess(export_example['all'])
data

,VB,DT,JJ,NN,RBR,CC,VBN,MD,VBP,VBG,...,RBS,``,'',PDT,(,),EX,NNP,$,FW
0,6.0,3.0,5.0,6.0,1.0,2.0,2.0,2.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3.0,1.0,1.0,8.0,0.0,0.0,0.0,2.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,4.0,4.0,0.0,2.0,1.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,5.0,6.0,1.0,2.0,1.0,0.0,2.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,2.0,8.0,7.0,13.0,1.0,1.0,0.0,1.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
252,2.0,7.0,7.0,13.0,1.0,1.0,0.0,1.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
253,0.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
254,4.0,2.0,4.0,9.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
255,7.0,4.0,6.0,6.0,0.0,1.0,1.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [69]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() 
scaled_values = scaler.fit_transform(data) 
data.loc[:,:] = scaled_values

In [70]:
data['direct'], data['specific'] = zip(*export_example['scores'])

In [79]:
x_train = data.iloc[:, :-2]
y_train = data['specific']

model = LogisticRegression().fit(x_train,y_train)
# model = Lasso().fit(x_train,y_train)
print(cross_validate(model, x_train, y_train, return_train_score=True, cv=5))

{'fit_time': array([0.02265191, 0.02352738, 0.01994824, 0.0217936 , 0.02000427]), 'score_time': array([0.00233889, 0.00214076, 0.00214076, 0.00245929, 0.00315475]), 'test_score': array([0.57692308, 0.62745098, 0.70588235, 0.60784314, 0.60784314]), 'train_score': array([0.7254902 , 0.72682927, 0.68780488, 0.70243902, 0.74634146])}

In [74]:
data

,VB,DT,JJ,NN,RBR,CC,VBN,MD,VBP,VBG,...,'',PDT,(,),EX,NNP,$,FW,direct,specific
0,0.500000,0.375,0.555556,0.315789,0.5,0.250,0.222222,0.333333,0.166667,0.166667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,4.0
1,0.250000,0.125,0.111111,0.421053,0.0,0.000,0.000000,0.333333,0.166667,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,4.0
2,0.000000,0.000,0.444444,0.210526,0.0,0.250,0.111111,0.000000,0.500000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0
3,0.083333,0.000,0.555556,0.315789,0.5,0.250,0.111111,0.000000,0.333333,0.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,3.0
4,0.166667,0.125,0.333333,0.000000,0.0,0.000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,0.166667,1.000,0.777778,0.684211,0.5,0.125,0.000000,0.166667,0.000000,0.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0
252,0.166667,0.875,0.777778,0.684211,0.5,0.125,0.000000,0.166667,0.000000,0.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0
253,0.000000,0.125,0.111111,0.105263,0.0,0.000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
254,0.333333,0.250,0.444444,0.473684,0.0,0.000,0.000000,0.333333,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,3.0
255,0.583333,0.500,0.666667,0.315789,0.0,0.125,0.111111,0.666667,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0

In [81]:
Counter(model.predict(x_train))

Counter({3.0: 145, 2.0: 99, 4.0: 9, 5.0: 3})

In [82]:
Counter(y_train)

Counter({4.0: 29, 3.0: 122, 2.0: 88, 1.0: 13, 5.0: 4})

In [89]:
balancer = imblearn.over_sampling.SMOTE(k_neighbors = 3)
balanced = balancer.fit_resample(x_train, y_train)

In [92]:
x_train = balanced[0]
y_train = balanced[1]

In [95]:
model = LogisticRegression().fit(x_train,y_train)
print(cross_validate(model, x_train, y_train, return_train_score=True, cv=3))

{'fit_time': array([0.03123093, 0.03031492, 0.03254819]), 'score_time': array([0.00246811, 0.00301909, 0.0022738 ]), 'test_score': array([0.79411765, 0.77339901, 0.79310345]), 'train_score': array([0.83497537, 0.85749386, 0.83538084])}

In [122]:
clf = RandomForestClassifier(n_estimators=200, n_jobs=1, random_state=42, warm_start=False)

In [125]:
model = clf.fit(x_train, y_train)

In [126]:
print(cross_validate(model, x_train, y_train, return_train_score=True, cv=3))

{'fit_time': array([0.49524021, 0.43730903, 0.44738078]), 'score_time': array([0.0354352 , 0.03281784, 0.03360224]), 'test_score': array([0.83823529, 0.85221675, 0.90147783]), 'train_score': array([1., 1., 1.])}

In [134]:
pipe = Pipeline([('classifier' , RandomForestClassifier())])

# Create param grid.

param_grid = [
    {'classifier' : [LogisticRegression()],
     'classifier__penalty' : ['l1', 'l2'],
    'classifier__C' : np.logspace(-4, 4, 20),
    'classifier__solver' : ['liblinear']},
    {'classifier' : [RandomForestClassifier()],
    'classifier__n_estimators' : list(range(10,201,20)),
    'classifier__max_features' : list(range(6,32,5))}
]

# Create grid search object

clf = GridSearchCV(pipe, param_grid = param_grid, cv = 5, verbose=True, n_jobs=1)

# Fit on data

best_clf = clf.fit(x_train, y_train)

Fitting 5 folds for each of 100 candidates, totalling 500 fits

In [141]:
dump(best_clf, "best_general_model.joblib")

['best_general_model.joblib']

In [142]:
data.columns

Index(['VB', 'DT', 'JJ', 'NN', 'RBR', 'CC', 'VBN', 'MD', 'VBP', 'VBG', 'TO',
       'IN', '.', 'JJR', 'PRP$', 'RB', 'NNS', 'VBZ', 'WRB', ',', 'PRP', ':',
       'RP', 'CD', 'VBD', 'JJS', 'POS', 'WP', 'WDT', 'RBS', '``', '''', 'PDT',
       '(', ')', 'EX', 'NNP', '$', 'FW', 'direct', 'specific'],
      dtype='object')